<div id="<%= dom_id sneaker %>" class="mt-4">
<div class="card">
<div class="card-body">
<h5 class="card-title"><%= sneaker.name %> - <%= sneaker.brand %></h5>

<div class="row">
<div class="col-md-6">
<p><strong>Size:</strong> <%= sneaker.size %></p>
<p><strong>Size Category:</strong> <%= sneaker.size_category %></p>
<p><strong>Quantity:</strong> <%= sneaker.quantity %></p>
<p><strong>Purchase Price:</strong> <%= number_to_currency(sneaker.purchase_price) %></p>
<p><strong>Purchase Date:</strong> <%= sneaker.purchase_date %></p>
</div>
<div class="col-md-6">
<% if @sneaker.ups? && @sneaker.tracking_number.present? %>
<%= link_to @sneaker.tracking_number, "https://www.ups.com/track?track=yes&trackNums=#{@sneaker.tracking_number}&loc=en_US&requester=ST/trackdetails", target: "_blank" %>
<% elsif @sneaker.fedex? && @sneaker.tracking_number.present? %>
<%= link_to @sneaker.tracking_number, "https://www.fedex.com/fedextrack/?trknbr=#{@sneaker.tracking_number}&trkqual=20240303000700~#{@sneaker.tracking_number}~FXSP#{@sneaker.tracking_number}", target: "_blank" %>
<% elsif @sneaker.usps? && @sneaker.tracking_number.present? %>
<%= link_to @sneaker.tracking_number, "https://tools.usps.com/go/TrackConfirmAction?qtc_tLabels1=#{@sneaker.tracking_number}", target: "_blank" %>
<% end %>

</div>
<div class="col-md-6">
<p><strong>SKU:</strong> <%= sneaker.sku %></p>
<p><strong>Source:</strong> <%= sneaker.source %></p>
<p><strong>Return Period:</strong> <%= sneaker.return_period %> days</p>
<p><strong>Sale Price:</strong> <%= number_to_currency(sneaker.sale_price) %></p>
<p><strong>Status:</strong> <%= sneaker.sold ? 'Sold' : 'Available' %></p>
<h5>Listings:</h5>
<% if sneaker.listings.any? %>
<ul>
<% sneaker.listings.each do |listing| %>
  <li>
  <strong>Platform:</strong> <%= listing.platform %> |
  <strong>Price:</strong> <%= number_to_currency(listing.price) %>
  </li>
  <% end %>
  </ul>
  <% else %>
  <p>No listings available.</p>
  <% end %>
  
  
  </div>
  </div>
  
  <% if sneaker.sold %>
  <p><strong>Profit:</strong> <%= number_to_currency(sneaker.profit) %></p>
  <p><strong>Days in Inventory:</strong> <%= sneaker.days_in_inventory %></p>
  <% end %>
  </div>
  </div>
  </div>
  