<div id="<%= dom_id sneaker %>">
  <p>
    <strong>Brand:</strong>
    <%= sneaker.brand %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= sneaker.name %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= sneaker.size %>
  </p>

  <p>
    <strong>Size category:</strong>
    <%= sneaker.size_category %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= sneaker.quantity %>
  </p>

  <p>
    <strong>Purchase price:</strong>
    <%= sneaker.purchase_price %>
  </p>

  <p>
    <strong>Purchase date:</strong>
    <%= sneaker.purchase_date %>
  </p>

</div>
